

.home-banner {
	position: relative;
	display: inline-block;
	text-align: center;
}
.home-banner img {
	width: 100%;
	min-height: 340px;
	padding-top: 3%;
	vertical-align: bottom; 
}
.home-banner h2 {
	// border: solid red;
	font-family: 'Onestarsh';
	font-size: 18em !important;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 20%;
	margin: 0;
	color: #fff;
}

.menu-banner {
	position: relative;
	display: inline-block;
	overflow: hidden;
}
.menu-banner img {
	width: 100%;
	min-height: 340px;
	vertical-align: bottom; 
}

@media (min-width: 900px) {
  .menu-banner {
    height: 60%;
	}
	.menu-banner img {
    margin-top: -13%;
	}
}

.menu-banner h2 {
	font-family: 'Onestarsh', 'Raleway',  sans-serif;
	font-size: 10vw !important;
	text-align: center;
	line-height: 70%;
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	margin: 0;
	padding: 10px;
	color: #fff;
}
