.footer-container {
	margin-top: 5rem !important;
	padding-top: 5rem !important;
	background-color: #E8E8E8 !important;
	height: 40vh;
}

.footer-links {
	color: black !important;
	font-size: 1em;
}

.footer-links > a {
	color: black !important;
}

.copyright {
	background-color: #ffffff !important;
	color: green;
}