.review-page-title {
	font-family: 'Raleway','Courier New', Courier, monospace;
	padding-top: 3rem !important;
	font-weight: 600 !important;
	color: #404040;
}

.review-page-subtitle {
	font-family: 'Raleway','Courier New', Courier, monospace;
	margin-top: 2em !important;
	margin-left: 1em !important;
	padding-top: 0 !important;
	border-left: solid gray;
	border-width: thin;
	font-style: italic;
}

.main-review-left {
	margin-left: 5em;
}

.main-review-right {
	margin-top: 5rem !important;
}

.main-review-right > h3 {
	font-family: 'Raleway','Courier New', Courier, monospace;
	font-weight: 700 !important;
	color: #404040;
}

