.sidebar {
  height: 100%;
  top: var(--topbar-height);
  left: 0;
  overflow: hidden;

  position: relative;
  flex: 1;
	z-index: 0;
	margin-top: 1em;
	font-family: 'Raleway','Courier New', Courier, monospace;
	padding-left: 2em !important;
}
.markerAddressUnits {
	font-family: 'Raleway','Courier New', Courier, monospace;
	padding-left: .8em !important;
	font-size: smaller;
	padding-top: 1em !important;
}

.markerAddressNotes {
	font-family: 'Raleway','Courier New', Courier, monospace;
	padding-left: .8em !important;
	font-size: smaller;
	margin-bottom: 0 !important;
}

.border {
	border-bottom: solid 1px;
}